<html>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/../static/js/app.js"></script>
	<body>
		<div>Enter a city in this format {city name, country code}: <input id = "user-input"></input><button onclick = "callData()">Enter</button></div>
		<div>Hello, the weather in <span id = "name">...</span> right now is: <span id = "countryWeather">...</span></div>
		<!-- <audio id = "rainAudio" src = "file:///Users/mvadmin/weatherThingy/static/js/rain.mp3" autoplay = "true"></audio> -->
	</body>
</html>